*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
.header .logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 12px 24px;
    background-color: #3A4B53;
    color: white;
    margin: 0;
}
.logo i{
    margin: 0 10px;
}
.logo span{
    margin-left: 0 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-list{
    display: flex;
    color: white;
    margin: 0;
    padding: 0;
}
#nav-list li{
    padding: 12px 24px;
    margin: 0;
    width: 80px;
}
.profile-img{
    text-align: right;
}
.profile-img img{
    width: 25%;
    height: auto;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}
.header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4D636F;
    color: white;
    margin: 0;
    font-size: 1.125rem;
}
.left-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profile{
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1.125rem;
    text-align: center;
}
.card{
    color: #888;;
}
.card-image-top{
    width: 50%;
    height: auto;
    border-radius: 50%;
}
#profil-list{
    align-items: left;
    margin: 0;
    padding: 0;
}
#profil-list li{
    margin: 0;
    padding: 0;
}
#profil-list li a{
    margin: 0;
    padding: 10px;
}